body {
    font: 10px sans-serif;
}

.ride { fill: red }
.run { fill: blue }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tooltip {
    font-size: 12px;
    position: absolute; right: 200px; top: 20px;    
    width: 200px;
    height: 200px;
}
